@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

label {
    font-size: large;
}

.site-footer {
    background-color: #26272b;
    font-size: 15px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: lightblue
}

.social-icons a.instagram:hover {
    background-color: red
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.twitter:hover {
    background-color: skyblue
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.social-icons a.facebook {
    background-image: url('img/facebook.png');
    background-size: cover;
}

.social-icons a.instagram {
    background-image: url('img/insta.png');
    background-size: cover;
}

.social-icons a.twitter {
    background-image: url('img/twitter.png');
    background-size: cover;
}

.social-icons a.linkedin {
    background-image: url('img/linkedIn.png');
    background-size: cover;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
}

.about-area {
    padding-top: 5%;
}

.about-img {
    position: relative;
}

.about-img:before {
    position: absolute;
    content: '';
    right: -30px;
    top: 30px;
    border: 9px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.about-img img {
    width: 100%;
}

.about-text {
    padding-top: 20%;
    padding-left: 10%;
}

.about-text h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.about-text p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: black;
}

.about-text a {
    background: #b5a7f8;
    color: #fff;
    padding: 7px 15px;
    display: inline-block;
    margin-top: 20px;
}

body {
    background-color: #EDEDED !important;
    padding-top: 8%;
    margin-top: 80px ;
}

#felirat {
    text-align: center;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;

}
.navbar{

position: absolute;
top:0;
left: 0;
right: 0;


}
@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
  }